<div class="content">
  <h2>Installation</h2>
  <h3>Prerequisite</h3>
  <mat-toolbar class="download-action-bar">
    <span>
      Steam Friends Patcher
    </span>
    <span class="fill-remaining-space"></span>
    <a href="https://github.com/PhantomGamers/SteamFriendsPatcher">
      <button class="download-button" mat-stroked-button color="accent">
        <mat-icon>code</mat-icon>
      </button>
    </a>
    <span class="button-spacer"></span>
    <a href="https://github.com/PhantomGamers/SteamFriendsPatcher/releases">
      <button class="download-button" mat-stroked-button color="accent">
        <mat-icon>save_alt</mat-icon>
      </button>
    </a>
  </mat-toolbar>
  <div class="description-holder">
    <div class="description-text">
      <p>
        This is required to skin the Steam Chat UI, as Valve have not yet
        provided an offical means to do so.
      </p>
      <p>
        Steam Friends Patcher can be configured to run in the background and
        will automagically patch the Steam Chat UI whenever Valve releases an
        update. Keeping your themes applied without distrubtion.
      </p>
    </div>

    <picture class="description-image">
      <source srcset="assets/images/steamPatcher.webp" type="image/webp" />
      <source srcset="assets/images/steamPatcher.png" type="image/png" />
      <img
        src="assets/images/steamPatcher.png"
        alt="Steam friends patcher screenshot, showing what the prgram looks like"
      />
    </picture>
  </div>
</div>
