.footer {
  font-size: 14px;
  height: 100%;
  background: var(--color-background);
}

.footer ul {
  list-style: none;
}

.footer li {
  line-height: 2.5ch;
}

a {
  color: unset;
}

.footer ul li {
  white-space: normal;
}
