<div class="friendsContainer">
  <div
    class="friend friendStatusHover"
    draggable="true"
    [ngClass]="statusToClass(user.status)"
  >
    <div
      class="steamavatar_avatarHolder_1qjsP avatarHolder no-drag Medium"
      [ngClass]="statusToClass(user.status)"
    >
      <div class="steamavatar_avatarStatus_1Co4T avatarStatus"></div>
      <img
        class="steamavatar_avatar_1LMc2 avatar"
        draggable="false"
        [src]="user.image"
      />
    </div>
    <div
      class="labelHolder personanameandstatus_twoLine_GI-2M"
      [ngClass]="statusToClass(user.status)"
    >
      <div class="personanameandstatus_statusAndName_yTyUi">
        <div class="personanameandstatus_playerName_1ocG6">
          {{ user.name }}
          <span
            *ngIf="user.nickname"
            class="personanameandstatus_playerNickname_1RcPs-32P"
          >
            ({{ user.nickname }})
          </span>
        </div>
        <div
          *ngIf="isAway(user.status)"
          class="friendsnooze_SnoozeContainer_37Qst"
          [ngClass]="statusToClass(user.status)"
        >
          <div
            data-text="Z"
            class="friendsnooze_SnoozeZ_2urc6 friendsnooze_Z1_1SBGO"
          >
            Z
          </div>
          <div
            data-text="Z"
            class="friendsnooze_SnoozeZ_2urc6 friendsnooze_Z2_1XZDy"
          >
            Z
          </div>
          <div
            data-text="Z"
            class="friendsnooze_SnoozeZ_2urc6 friendsnooze_Z3_1pszW"
          >
            Z
          </div>
        </div>
        <div class="ContextMenuButton">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="SVGIcon_Button SVGIcon_DownArrowContextMenu"
            data-name="Layer 1"
            viewBox="0 0 128 128"
            x="0px"
            y="0px"
          >
            <polygon
              points="50 59.49 13.21 22.89 4.74 31.39 50 76.41 95.26 31.39 86.79 22.89 50 59.49"
            ></polygon>
          </svg>
        </div>
      </div>
      <div class="personanameandstatus_richPresenceContainer_TIY16">
        <div
          class="
            personanameandstatus_gameName_1pRZ3
            personanameandstatus_richPresenceLabel_1whoN
            no-drag
          "
        >
          {{ user.statusText }}
        </div>
      </div>
    </div>
  </div>
</div>
