<div class="friendsContainer">
  <div
    class="friend friendStatusHover"
    draggable="true"
    [ngClass]="statusToClass(user.status)"
  >
    <div
      class="steamavatar_avatarHolder_nibod avatarHolder no-drag Medium"
      [ngClass]="statusToClass(user.status)"
    >
      <div class="steamavatar_avatarStatus_3xUpb avatarStatus"></div>
      <img
        class="steamavatar_avatar_3h-QR avatar"
        draggable="false"
        [src]="user.image"
      />
    </div>
    <div
      class="labelHolder personanameandstatus_twoLine_1Bb0e"
      [ngClass]="statusToClass(user.status)"
    >
      <div class="personanameandstatus_statusAndName_4ZTzG">
        <div class="personanameandstatus_playerName_nOdcT">
          {{ user.name }}
          <span
            *ngIf="user.nickname"
            class="personanameandstatus_playerNickname_2saJT"
          >
            ({{ user.nickname }})
          </span>
        </div>
        <div
          *ngIf="isAway(user.status)"
          class="friendsnooze_SnoozeContainer_1Dsum"
          [ngClass]="statusToClass(user.status)"
        >
          <div
            data-text="Z"
            class="friendsnooze_SnoozeZ_2n0Ei friendsnooze_Z1_2hnF3"
          >
            Z
          </div>
          <div
            data-text="Z"
            class="friendsnooze_SnoozeZ_2n0Ei friendsnooze_Z2_VmQTO"
          >
            Z
          </div>
          <div
            data-text="Z"
            class="friendsnooze_SnoozeZ_2n0Ei friendsnooze_Z3_29mta"
          >
            Z
          </div>
        </div>
        <div class="ContextMenuButton">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="SVGIcon_Button SVGIcon_DownArrowContextMenu"
            data-name="Layer 1"
            viewBox="0 0 128 128"
            x="0px"
            y="0px"
          >
            <polygon
              points="50 59.49 13.21 22.89 4.74 31.39 50 76.41 95.26 31.39 86.79 22.89 50 59.49"
            ></polygon>
          </svg>
        </div>
      </div>
      <div class="personanameandstatus_richPresenceContainer_3sxE7">
        <div
          class="personanameandstatus_gameName_1cB0Q personanameandstatus_richPresenceLabel_2Ri00 no-drag"
        >
          {{ user.statusText }}
        </div>
      </div>
    </div>
  </div>
</div>
