<div class="content">
  <h2>Customisation</h2>
</div>
<div class="content content-holder">
  <mat-vertical-stepper class="customisation-area">
    <mat-step *ngFor="let optionType of customisationOptions; let i = index">
      <ng-template matStepLabel>{{ optionType.title }}</ng-template>

      <mat-radio-group
        class="customisation-radio-group"
        aria-label="Select an option"
        [(ngModel)]="optionType.selectedOptionIndex"
        (change)="updatePreview()"
      >
        <mat-radio-button
          class="customisation-radio-button"
          *ngFor="let option of optionType.options; let i = index"
          [value]="i"
        >
          {{ option.displayName }}
        </mat-radio-button>
      </mat-radio-group>
      <div class="customisation-navigation-area">
        <button mat-button matStepperPrevious *ngIf="i > 0">Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Generate and Download</ng-template>
      <div class="download-area">
        <button
          class="download-button"
          mat-flat-button
          aria-label="download generates css"
          (click)="saveGeneratedCSS()"
        >
          Download Windows/Linux/Mac
          <img
            class="download-icon"
            src="assets/images/microsoft-windows.png"
          />
          <img class="download-icon" src="assets/images/linux-os.png" />
          <img class="download-icon" src="assets/images/apple-os.png" />
        </button>
        <br />
        <button class="download-button" mat-button matStepperPrevious>
          Back
        </button>
      </div>
    </mat-step>
  </mat-vertical-stepper>

  <div class="customisation-image-area">
    <app-steam-preview></app-steam-preview>
  </div>
</div>
