.customisation-area {
  margin: auto 0;
  width: 50%;
  background-color: var(--color-background);
}

.customisation-step-area {
  margin: 0 auto;
}

.customisation-radio-group {
  display: flex;
  flex-direction: column;
}
.customisation-radio-button {
  margin-bottom: 0.5em;
}

.customisation-image-area {
  display: flex;
  height: auto;
  justify-content: right;
}

.customisation-navigation-area {
  display: flex;
  flex-direction: row;
}

.content-holder {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
}

.download-area {
  text-align: start;
  display: flex;
  flex-direction: column;
}

.download-button {
  vertical-align: middle;
  margin: 4px;
  width: fit-content;
}

.download-icon {
  width: 1em;
  margin-right: 4px;
}

@media only screen and (max-width: 959px) {
  .content-holder {
    flex-direction: column;
    height: auto;
    padding: 0;
  }
  .customisation-area {
    width: 100%;
  }

  .customisation-image-area {
    height: auto;
  }
}
