.customisation-area {
  margin: auto 0;
  width: 50%;
  background-color: var(--color-secondary);
}

.customisation-step-area {
  margin: 0 auto;
}

.customisation-radio-group {
  display: flex;
  flex-direction: column;
}
.customisation-radio-button {
  margin-bottom: 0.5em;
}

.customisation-image-area {
  display: flex;
  height: 80vh;
  justify-content: right;
}

.customisation-navigation-area {
  display: flex;
  flex-direction: row;
}

.content-holder {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 80vh;
}
.content { 
  background-color: var(--color-secondary);
}

@media only screen and (max-width: 959px) {
  .content-holder {
    flex-direction: column;
    height: auto;
    padding: 0;
  }
  .customisation-area {
    width: 100%;
  }

  .customisation-image-area {
    height:  auto;
  }
}
