<div class="DropTarget quickAccessFriends compactQuickAccess Panel Focusable">
  <ng-container *ngFor="let user of users">
    <div class="favoriteElement Panel Focusable">
      <div
        class="
          friend
          online
          quickAccessFriend
          friendStatusHover
          Panel
          Focusable
        "
        draggable="true"
        [ngClass]="statusToClass(user.status)"
      >
        <div>
          <div
            class="steamavatar_avatarHolder_nibod avatarHolder no-drag Medium"
            [ngClass]="statusToClass(user.status)"
          >
            <div class="steamavatar_avatarStatus_3xUpb avatarStatus"></div>
            <img
              class="steamavatar_avatar_3h-QR avatar"
              draggable="false"
              [src]="user.image"
            />
            <div
              *ngIf="isAway(user.status)"
              class="
                friendsnooze_SnoozeContainer_1Dsum
                online
                SnoozeContainer
                friendsnooze_Medium_1iYPl friendsnooze_Dim_rpZ9b
              "
            >
              <div
                data-text="Z"
                class="friendsnooze_SnoozeZ_2n0Ei friendsnooze_Z1_2hnF3"
              >
                Z
              </div>
              <div
                data-text="Z"
                class="friendsnooze_SnoozeZ_2n0Ei friendsnooze_Z2_VmQTO"
              >
                Z
              </div>
              <div
                data-text="Z"
                class="friendsnooze_SnoozeZ_2n0Ei friendsnooze_Z3_29mta"
              >
                Z
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="dropTargetBox"></div>
</div>
