<div class="DropTarget quickAccessFriends compactQuickAccess Panel Focusable">
  <ng-container *ngFor="let user of users">
    <div class="favoriteElement Panel Focusable">
      <div
        class="
          friend
          online
          quickAccessFriend
          friendStatusHover
          Panel
          Focusable
        "
        draggable="true"
        [ngClass]="statusToClass(user.status)"
      >
        <div>
          <div
            class="steamavatar_avatarHolder_1qjsP avatarHolder no-drag Medium"
            [ngClass]="statusToClass(user.status)"
          >
            <div class="steamavatar_avatarStatus_1Co4T avatarStatus"></div>
            <img
              class="steamavatar_avatar_1LMc2 avatar"
              draggable="false"
              [src]="user.image"
            />
            <div
              *ngIf="isAway(user.status)"
              class="
                friendsnooze_SnoozeContainer_37Qst
                online
                SnoozeContainer
                friendsnooze_Medium_1DQyI friendsnooze_Dim_26tjU
              "
            >
              <div
                data-text="Z"
                class="friendsnooze_SnoozeZ_2urc6 friendsnooze_Z1_1SBGO"
              >
                Z
              </div>
              <div
                data-text="Z"
                class="friendsnooze_SnoozeZ_2urc6 friendsnooze_Z2_1XZDy"
              >
                Z
              </div>
              <div
                data-text="Z"
                class="friendsnooze_SnoozeZ_2urc6 friendsnooze_Z3_1pszW"
              >
                Z
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="dropTargetBox"></div>
</div>
