@import url(https://steamcommunity-a.akamaihd.net/public/shared/css/motiva_sans.css);
@import url(https://steamcommunity-a.akamaihd.net/public/shared/css/shared_global.css);
@import url(https://steamcommunity-a.akamaihd.net/public/css/webui/friends.css);

@import url(https://laserflash.tk/steam-chat-skin/src/baseTheme.css);

.client_chat_frame {
  text-align: left;
}

.HoverPositionPopup {
  display: block;
}
.preview-holder {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.friendList-preview {
  margin: auto auto;
}
.miniProfile-preview {
  margin: auto auto;
}

.previewBorder {
  border-color: var(--color-secondary);
  border-width: 2px;
  border-style: solid;
}

@media only screen and (max-width: 959px) {
  .preview-holder {
    flex-direction: column;
    height: 100vh;
  }
}
