<link *ngFor="let style of styles" rel="stylesheet" [href]="style | safe" />

<div class="friendsui-container preview-holder">
  <div class="client_chat_frame fullheight SavedDimensionsPopup" lang="en">
    <div class="fullheight">
      <div id="popup_target" class="fullheight popup_chat_frame">
        <div class="chat_main fullheight responsive_friends">
          <div class="chat_main_flex displayRow Panel Focusable">
            <div
              class="DropTarget friendsListContainer fullheight Panel Focusable"
            >
              <div class="friendlist">
                <div class="friendListHeaderContainer titleBarContainer">
                  <div class="TitleBar title-area chatTitleBar">
                    <div class="title-area-highlight"></div>
                    <div class="title-area-children"></div>
                    <div class="title-bar-actions">
                      <div class="title-area-icon closeButton">
                        <svg
                          version="1.1"
                          id="Layer_2"
                          xmlns="http://www.w3.org/2000/svg"
                          class="SVGIcon_Button SVGIcon_X_Line"
                          x="0px"
                          y="0px"
                          width="256px"
                          height="256px"
                          viewBox="0 0 256 256"
                        >
                          <line
                            fill="none"
                            stroke="#FFFFFF"
                            stroke-width="45"
                            stroke-miterlimit="10"
                            x1="212"
                            y1="212"
                            x2="44"
                            y2="44"
                          ></line>
                          <line
                            fill="none"
                            stroke="#FFFFFF"
                            stroke-width="45"
                            stroke-miterlimit="10"
                            x1="44"
                            y1="212"
                            x2="212"
                            y2="44"
                          ></line>
                        </svg>
                      </div>
                      <div class="title-area-icon maximizeButton">
                        <svg
                          version="1.1"
                          id="base"
                          xmlns="http://www.w3.org/2000/svg"
                          class="SVGIcon_Button SVGIcon_Maximize"
                          x="0px"
                          y="0px"
                          width="256px"
                          height="256px"
                          viewBox="0 0 256 256"
                        >
                          <rect
                            x="24"
                            y="42.167"
                            fill="none"
                            stroke="rgb(120, 138, 146)"
                            stroke-width="18"
                            stroke-miterlimit="10"
                            width="208"
                            height="171.667"
                          ></rect>
                          <line
                            fill="none"
                            stroke="rgb(120, 138, 146)"
                            stroke-width="42"
                            stroke-miterlimit="10"
                            x1="24"
                            y1="54.01"
                            x2="232"
                            y2="54.01"
                          ></line>
                        </svg>
                      </div>
                      <div class="title-area-icon minimizeButton">
                        <svg
                          version="1.1"
                          id="base"
                          xmlns="http://www.w3.org/2000/svg"
                          class="SVGIcon_Button SVGIcon_Minimize"
                          x="0px"
                          y="0px"
                          width="256px"
                          height="256px"
                          viewBox="0 0 256 256"
                        >
                          <line
                            fill="none"
                            stroke="rgb(120, 138, 146)"
                            stroke-width="18"
                            stroke-miterlimit="10"
                            x1="24"
                            y1="209.01"
                            x2="232"
                            y2="209.01"
                          ></line>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <app-current-user [user]="CURRENT_USER"></app-current-user>
                  <app-quick-access [users]="FAV_USERS"></app-quick-access>
                  <div class="socialTabSearchContainer">
                    <div class="socialTabContainer">
                      <div class="friendTab socialListTab activeTab">
                        <div class="tabLabel">Friends</div>
                        <div class="friendsTabButtonsContainer">
                          <div class="TabSearchButton">
                            <div class="tabSearchTransitionGroup"></div>
                            <div
                              class="searchIconButton"
                              title="Search my friends list"
                            >
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="SVGIcon_Button SVGIcon_MagnifyingGlass"
                                version="1.1"
                                x="0px"
                                y="0px"
                                viewBox="0 0 100 100"
                              >
                                <g transform="translate(0,-952.36218)">
                                  <path
                                    class="ColorSelector"
                                    d="m 40.99855,964.36216 c -15.9798,0 -28.9986,13.01864 -28.9986,28.99862 0,15.97992 13.0188,28.99862 28.9986,28.99862 6.9189,0 13.2881,-2.4349 18.2803,-6.4997 l 23.5927,23.6239 c 1.1714,1.1714 3.0784,1.1715 4.2498,0 1.1716,-1.1715 1.1716,-3.0783 0,-4.2498 l -23.6239,-23.5926 c 4.0649,-4.9923 6.4997,-11.3615 6.4997,-18.28042 0,-15.97998 -13.0187,-28.99862 -28.9986,-28.99862 z m 0,5.99972 c 12.7374,0 22.9989,10.26145 22.9989,22.9989 0,12.73732 -10.2615,22.99892 -22.9989,22.99892 -12.7374,0 -22.9989,-10.2616 -22.9989,-22.99892 0,-12.73745 10.2615,-22.9989 22.9989,-22.9989 z"
                                    fill="#ffffff"
                                    fill-opacity="1"
                                    stroke="none"
                                    visibility="visible"
                                    display="inline"
                                    overflow="visible"
                                  ></path>
                                </g>
                              </svg>
                            </div>
                          </div>
                          <a href="https://steamcommunity.com/friends/add">
                            <div
                              class="friendListButton addFriendButton no-drag"
                              title="Add a friend"
                            >
                              <svg
                                version="1.1"
                                id="Layer_1"
                                xmlns="http://www.w3.org/2000/svg"
                                class="SVGIcon_Button SVGIcon_AddFriend"
                                x="0px"
                                y="0px"
                                width="256px"
                                height="256px"
                                viewBox="0 0 256 256"
                              >
                                <g
                                  class="friendHead"
                                  transform="matrix(1.34048,0,0,1.34048,-10.0942,-5.50445)"
                                >
                                  <circle
                                    cx="86.296"
                                    cy="47.419"
                                    r="33.526"
                                  ></circle>
                                </g>
                                <path
                                  class="friendBody"
                                  d="M100.353,170.882c0-23.589,10.397-44.736,26.842-59.152c-3.352-0.423-6.773-0.649-10.257-0.649H94.231	c-39.775,0-56.481,28.271-56.481,63.099v41.88c0,0-0.3,16.369,35.917,21.813c36.217,5.444,73.651,5,73.651,5 C119.666,230.681,100.353,203.044,100.353,170.882z"
                                ></path>
                                <path
                                  class="plusCircle"
                                  d="M179.01,103.892c-36.998,0-66.99,29.992-66.99,66.99s29.994,66.989,66.99,66.989c36.997,0,66.99-29.991,66.99-66.989 S216.008,103.892,179.01,103.892z M217.893,175.882h-33.647v33.882c0,2.762-2.239,5-5,5s-5-2.238-5-5v-33.882h-33.647 c-2.762,0-5-2.238-5-5c0-2.763,2.238-5,5-5h33.647V132.47c0-2.762,2.239-5,5-5s5,2.238,5,5v33.412h33.647c2.762,0,5,2.237,5,5 C222.893,173.643,220.654,175.882,217.893,175.882z"
                                ></path>
                              </svg>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="disconnectBlocker"></div>
                </div>
                <div class="FriendsListContent Panel Focusable">
                  <div class="insetshadow_FriendsListInsetShadowCtn_1qeW3">
                    <div
                      class="insetshadow_FriendListInsetShadowTop_1osHa"
                    ></div>
                  </div>
                  <div></div>
                  <div class="friendlistListContainer">
                    <button
                      type="button"
                      class="BackToFriendsListButton DialogButton _DialogLayout Secondary Focusable"
                    >
                      Hide Friend Invites
                    </button>
                    <div class="listContentContainer">
                      <div
                        class="DropTarget friendGroup gameGroup OtherGamesGroup"
                      >
                        <div class="groupName Panel Focusable">
                          <div class="gameGroupContainer">
                            <div class="ExpandPlusMinus">
                              <svg
                                version="1.1"
                                xmlns="http://www.w3.org/2000/svg"
                                class="SVGIcon_Button SVGIcon_PlusCircle"
                                x="0px"
                                y="0px"
                                width="256px"
                                height="256px"
                                viewBox="0 0 256 256"
                              >
                                <circle
                                  fill="none"
                                  stroke-width="10"
                                  stroke-miterlimit="10"
                                  cx="128"
                                  cy="128"
                                  r="95.333"
                                ></circle>
                                <line
                                  class="horizontalLine"
                                  fill="none"
                                  stroke-width="10"
                                  stroke-linecap="round"
                                  stroke-miterlimit="10"
                                  x1="73.333"
                                  y1="128"
                                  x2="183.333"
                                  y2="128"
                                ></line>
                                <line
                                  class="verticalLine"
                                  fill="none"
                                  stroke-width="10"
                                  stroke-linecap="round"
                                  stroke-miterlimit="10"
                                  x1="128.333"
                                  y1="73.335"
                                  x2="128.333"
                                  y2="183.333"
                                ></line>
                              </svg>
                            </div>
                            In Game
                          </div>
                          <span class="groupCount">(4)</span>
                          <hr />
                        </div>
                        <div class="friendsContainer">
                          <ng-container *ngFor="let user of INGAME_USERS">
                            <app-friend [user]="user"></app-friend>
                          </ng-container>
                        </div>
                      </div>
                      <div class="DropTarget friendGroup onlineFriends">
                        <div class="groupHeaderContainer Panel Focusable">
                          <div class="groupName Panel Focusable">
                            <div class="ExpandPlusMinus">
                              <svg
                                version="1.1"
                                xmlns="http://www.w3.org/2000/svg"
                                class="SVGIcon_Button SVGIcon_PlusCircle"
                                x="0px"
                                y="0px"
                                width="256px"
                                height="256px"
                                viewBox="0 0 256 256"
                              >
                                <circle
                                  fill="none"
                                  stroke-width="10"
                                  stroke-miterlimit="10"
                                  cx="128"
                                  cy="128"
                                  r="95.333"
                                ></circle>
                                <line
                                  class="horizontalLine"
                                  fill="none"
                                  stroke-width="10"
                                  stroke-linecap="round"
                                  stroke-miterlimit="10"
                                  x1="73.333"
                                  y1="128"
                                  x2="183.333"
                                  y2="128"
                                ></line>
                                <line
                                  class="verticalLine"
                                  fill="none"
                                  stroke-width="10"
                                  stroke-linecap="round"
                                  stroke-miterlimit="10"
                                  x1="128.333"
                                  y1="73.335"
                                  x2="128.333"
                                  y2="183.333"
                                ></line>
                              </svg>
                            </div>
                            Online Friends<span class="groupCount">(2)</span>
                          </div>
                        </div>
                        <div class="groupList">
                          <ng-container *ngFor="let user of ONLINE_USERS">
                            <app-friend [user]="user"></app-friend>
                          </ng-container>
                        </div>
                      </div>
                      <div class="DropTarget friendGroup offlineFriends">
                        <div class="groupHeaderContainer Panel Focusable">
                          <div class="groupName Panel Focusable">
                            <div class="ExpandPlusMinus">
                              <svg
                                version="1.1"
                                xmlns="http://www.w3.org/2000/svg"
                                class="SVGIcon_Button SVGIcon_PlusCircle"
                                x="0px"
                                y="0px"
                                width="256px"
                                height="256px"
                                viewBox="0 0 256 256"
                              >
                                <circle
                                  fill="none"
                                  stroke-width="10"
                                  stroke-miterlimit="10"
                                  cx="128"
                                  cy="128"
                                  r="95.333"
                                ></circle>
                                <line
                                  class="horizontalLine"
                                  fill="none"
                                  stroke-width="10"
                                  stroke-linecap="round"
                                  stroke-miterlimit="10"
                                  x1="73.333"
                                  y1="128"
                                  x2="183.333"
                                  y2="128"
                                ></line>
                                <line
                                  class="verticalLine"
                                  fill="none"
                                  stroke-width="10"
                                  stroke-linecap="round"
                                  stroke-miterlimit="10"
                                  x1="128.333"
                                  y1="73.335"
                                  x2="128.333"
                                  y2="183.333"
                                ></line>
                              </svg>
                            </div>
                            Offline<span class="groupCount">(10)</span>
                          </div>
                          <div
                            class="SortByRecent Panel Focusable"
                            title="Sorting alphabetically"
                          >
                            <svg
                              version="1.1"
                              id="Layer_1"
                              xmlns="http://www.w3.org/2000/svg"
                              class="SVGIcon_Button SVGIcon_SortBy"
                              x="0px"
                              y="0px"
                              width="256px"
                              height="256px"
                              viewBox="0 0 256 256"
                            >
                              <g class="time">
                                <circle
                                  fill="none"
                                  stroke-width="10"
                                  stroke-miterlimit="10"
                                  cx="91.735"
                                  cy="128.014"
                                  r="64"
                                ></circle>
                                <polyline
                                  fill="none"
                                  stroke-width="10"
                                  stroke-linecap="round"
                                  stroke-miterlimit="10"
                                  points="91.735,90.833 91.735,128.014 116.58,152.086 	"
                                ></polyline>
                              </g>
                              <g class="alphabet">
                                <polyline
                                  fill="none"
                                  stroke-width="10"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-miterlimit="10"
                                  points="70.268,109.934 94.483,63.635 119.77,109.934"
                                ></polyline>
                                <line
                                  fill="none"
                                  stroke-width="10"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-miterlimit="10"
                                  x1="77.458"
                                  y1="97.861"
                                  x2="112.135"
                                  y2="97.861"
                                ></line>
                                <polyline
                                  fill="none"
                                  stroke-width="10"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-miterlimit="10"
                                  points="70.045,145.379 119.547,145.379 70.045,192.032 119.547,192.032"
                                ></polyline>
                              </g>
                              <g class="Arrow">
                                <polyline
                                  fill="none"
                                  stroke-width="10"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-miterlimit="10"
                                  points="199.735,63.66 199.735,192.366 171.207,163.675"
                                ></polyline>
                                <polyline
                                  fill="none"
                                  stroke-width="10"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-miterlimit="10"
                                  points="199.735,63.66 199.735,192.366 228.266,163.675"
                                ></polyline>
                              </g>
                            </svg>
                          </div>
                        </div>
                        <div class="groupList">
                          <ng-container *ngFor="let user of OFFLINE_USERS">
                            <app-friend [user]="user"></app-friend>
                          </ng-container>
                        </div>
                      </div>
                      <div class="disconnectBlocker"></div>
                    </div>
                  </div>
                  <div class="insetshadow_FriendsListInsetShadowCtn_1qeW3">
                    <div
                      class="insetshadow_FriendListInsetShadowBottom_2OoTJ"
                    ></div>
                  </div>
                  <div
                    class="FriendsListChatSection ChatRoomListContainerParent Collapsed"
                  >
                    <div class="friendsListSectionTitle chatSectionTitle">
                      <div
                        class="ToggleGroupChatList"
                        title="Expand chats list"
                      >
                        <svg
                          version="1.1"
                          id="arrowBase"
                          xmlns="http://www.w3.org/2000/svg"
                          class="SVGIcon_Button SVGIcon_DoubleArrow"
                          x="0px"
                          y="0px"
                          width="256px"
                          height="256px"
                          viewBox="0 0 256 256"
                          style="transform: rotate(-90deg)"
                        >
                          <polyline
                            class="Arrow1"
                            fill="none"
                            stroke="#ffffff"
                            stroke-width="23"
                            stroke-linecap="round"
                            stroke-miterlimit="10"
                            points="135.65,21.667 30.081,127.235 137.18,234.333 "
                          ></polyline>
                          <polyline
                            class="Arrow2"
                            fill="none"
                            stroke="#ffffff"
                            stroke-width="23"
                            stroke-linecap="round"
                            stroke-miterlimit="10"
                            points="224.389,21.667 118.821,127.235 225.92,234.333 "
                          ></polyline>
                        </svg>
                      </div>
                      <div class="voiceRoomDragBar">
                        <div class="groupChatSectionTitle">Group Chats</div>
                      </div>
                      <button
                        class="createChatRoomButton"
                        title="Create a group chat"
                      >
                        <svg
                          version="1.1"
                          xmlns="http://www.w3.org/2000/svg"
                          class="SVGIcon_Button SVGIcon_NewChatGroup"
                          x="0px"
                          y="0px"
                          viewBox="0 0 256 256"
                        >
                          <path
                            class="Bubble"
                            stroke-width="12"
                            stroke-miterlimit="10"
                            d="M127.393,10.833 c64.854,0,117.46,52.609,117.46,117.013c0,24.035-7.254,45.804-19.5,63.943c-4.99,7.711,13.15,39.457,20.408,51.705 c4.989,8.612-51.701-19.05-59.412-14.514c-17.233,9.979-37.188,15.872-58.957,15.872c-64.859,0-117.465-52.607-117.465-117.008 C9.928,63.442,62.534,10.833,127.393,10.833z"
                          ></path>
                          <line
                            stroke-width="22"
                            stroke-linecap="round"
                            stroke-miterlimit="10"
                            x1="83.5"
                            y1="128.886"
                            x2="176.184"
                            y2="128.886"
                          ></line>
                          <line
                            stroke-width="22"
                            stroke-linecap="round"
                            stroke-miterlimit="10"
                            x1="129.842"
                            y1="82.544"
                            x2="129.842"
                            y2="175.228"
                          ></line>
                        </svg>
                      </button>
                      <div class="disconnectBlocker"></div>
                    </div>
                    <div class="insetshadow_FriendsListInsetShadowCtn_1qeW3">
                      <div
                        class="insetshadow_FriendListInsetShadowTop_1osHa"
                      ></div>
                    </div>

                    <div class="insetshadow_FriendsListInsetShadowCtn_1qeW3">
                      <div
                        class="insetshadow_FriendListInsetShadowBottom_2OoTJ"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="friendListFooter">
                  <div class="flexRowCentered"></div>
                </div>
              </div>
            </div>
            <div class="window_resize_grip"></div>
            <div class="singleWindowFocusBar chatSingleWindowFocusBar"></div>
          </div>
        </div>
      </div>
      <div></div>
    </div>
  </div>
  <app-mini-profile></app-mini-profile>
</div>
