<div
  class="miniProfile-preview previewBorder HoverPopup client_chat_frame HoverPopupBody HoverfriendHover miniProfileHover"
>
  <div id="popup_target">
    <div class="HoverPositionPopup">
      <div class="miniProfileHoverInner miniprofile_miniProfile_s5zcg">
        <div
          class="miniprofile_miniProfileContent_25Sge miniprofile_notInOrWatchingGame_3AIC2"
        >
          <div class="miniprofile_miniProfileBackground_3gfFJ">
            <img
              class="miniprofile_miniProfileBackgroundBlur_G000o"
              src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/a0/a09590824ce6e05560677ab513ac8a9a52c311fd.jpg"
            />
          </div>
          <div class="miniprofile_miniProfileHeader_3oBIW">
            <div class="miniprofile_miniProfilePlayer_3cN6K online online">
              <div
                class="steamavatar_avatarHolder_1G7LI avatarHolder no-drag X-Large online miniprofile_playerAvatar_1dzWG"
              >
                <div
                  class="steamavatar_avatarStatus_1Pwr6 avatarStatus bottom"
                ></div>
                <img
                  class="steamavatar_avatar_f2laR avatar"
                  src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/a0/a09590824ce6e05560677ab513ac8a9a52c311fd_full.jpg"
                  draggable="false"
                />
              </div>
              <div class="miniprofile_playerContent_PV11V">
                <div>
                  <div class="miniprofile_persona_1Z3Ey">
                    <div class="miniprofile_personaAndIcons_2OhlV">
                      <div class="miniprofile_personaName_W3QjS">
                        <div class="miniprofile_personaNameLabel_390p4">
                          LaserFlash
                        </div>
                      </div>
                    </div>
                    <div class="miniprofile_awayStatusLabel_2UzRy">Online</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="miniprofile_miniProfileBottom_3Agb6">
            <div class="miniprofile_miniProfileFeaturedContainer_3ljT4">
              <div class="miniprofile_favoriteBadgeIcon_icnrU">
                <img
                  src="https://steamcommunity-a.akamaihd.net/public/images/badges/13_gamecollector/250_80.png?v=4"
                  class="miniprofile_badgeIcon_2TBf0"
                />
              </div>
              <div class="miniprofile_featuredLabels_1dGw1">
                <div class="miniprofile_featuredTitle_2_2RA">Game Mechanic</div>
                <div class="miniprofile_featuredSubTitle_2p8kJ">698 XP</div>
              </div>
            </div>
            <div class="miniprofile_miniProfileFeaturedContainer_3ljT4">
              <div class="friendPlayerLevel lvl_40">
                <span class="miniprofile_friendPlayerLevelNum_2Ni_1">45</span>
              </div>
              <div class="miniprofile_featuredLabels_1dGw1">
                <div class="miniprofile_featuredTitle_2_2RA">Steam Level</div>
              </div>
            </div>
          </div>
          <div class="miniprofile_mutualFriends_36Vl4"><div></div></div>
        </div>
      </div>
    </div>
  </div>
</div>
