<div class="miniProfile-preview previewBorder HoverPopup client_chat_frame">
  <div class="HoverPopupBody HoverfriendHover miniProfileHover">
    <div id="popup_target">
      <div class="HoverPositionPopup">
        <div class="miniProfileHoverInner miniprofile_miniProfile_1MYhW">
          <div
            class="
              miniprofile_miniProfileContent_8iaOu
              miniprofile_notInOrWatchingGame_1DvUh
            "
          >
            <div class="miniprofile_miniProfileBackground_18kmg">
              <img
                class="miniprofile_miniProfileBackgroundBlur_2epyA"
                src="https://avatars.akamai.steamstatic.com/a09590824ce6e05560677ab513ac8a9a52c311fd.jpg"
              />
            </div>
            <div class="miniprofile_miniProfileHeader_2a8Is">
              <div class="miniprofile_miniProfilePlayer_2sNP2 online online">
                <div
                  class="
                    steamavatar_avatarHolder_1qjsP
                    avatarHolder
                    no-drag
                    X-Large
                    online
                    miniprofile_playerAvatar_NWEHI
                  "
                >
                  <div
                    class="steamavatar_avatarStatus_1Co4T avatarStatus bottom"
                  ></div>
                  <img
                    src="https://avatars.akamai.steamstatic.com/a09590824ce6e05560677ab513ac8a9a52c311fd_full.jpg"
                    class="steamavatar_avatar_1LMc2 avatar"
                    draggable="false"
                  />
                </div>
                <div class="miniprofile_playerContent_2oBj8">
                  <div>
                    <div class="miniprofile_persona_360uj">
                      <div class="miniprofile_personaAndIcons_2AE2x">
                        <div class="miniprofile_personaName_lRWXe">
                          <div class="miniprofile_personaNameLabel_3RJi2">
                            LaserFlash
                          </div>
                        </div>
                      </div>
                      <div class="miniprofile_awayStatusLabel_2yDyp">
                        Online
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="miniprofile_miniProfileBottom_2gUrA">
              <div class="miniprofile_miniProfileFeaturedContainer_2ikSq">
                <div class="miniprofile_favoriteBadgeIcon_oXk9X">
                  <img
                    src="https://community.akamai.steamstatic.com/public/images/badges/13_gamecollector/250_80.png?v=4"
                    class="miniprofile_badgeIcon_3ZPiu"
                  />
                </div>
                <div class="miniprofile_featuredLabels_RFnwI">
                  <div class="miniprofile_featuredTitle_3BQTH">
                    Game Mechanic
                  </div>
                  <div class="miniprofile_featuredSubTitle_1ycJd">743 XP</div>
                </div>
              </div>
              <div class="miniprofile_miniProfileFeaturedContainer_2ikSq">
                <div class="friendPlayerLevel lvl_40">
                  <span class="miniprofile_friendPlayerLevelNum_3wFxO">46</span>
                </div>
                <div class="miniprofile_featuredLabels_RFnwI">
                  <div class="miniprofile_featuredTitle_3BQTH">Steam Level</div>
                </div>
              </div>
            </div>
            <div class="miniprofile_mutualFriends_3mqhT"><div></div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
