<div class="miniProfile-preview previewBorder HoverPopup client_chat_frame">
  <div class="HoverPopupBody HoverfriendHover miniProfileHover">
    <div id="popup_target">
      <div class="HoverPositionPopup">
        <div class="miniProfileHoverInner miniprofile_miniProfile_2QPdq">
          <div
            class="miniprofile_miniProfileContent_1xTAT miniprofile_notInOrWatchingGame_1NkB7"
          >
            <div class="miniprofile_miniProfileBackground_3HzZh">
              <img
                class="miniprofile_miniProfileBackgroundBlur_xUosY"
                src="https://avatars.akamai.steamstatic.com/a09590824ce6e05560677ab513ac8a9a52c311fd.jpg"
              />
            </div>
            <div class="miniprofile_miniProfileHeader_3CZcH">
              <div class="miniprofile_miniProfilePlayer_2jZ0A online online">
                <div
                  class="steamavatar_avatarHolder_nibod avatarHolder no-drag X-Large online miniprofile_playerAvatar_36eQg"
                >
                  <div
                    class="steamavatar_avatarStatus_3xUpb avatarStatus bottom"
                  ></div>
                  <img
                    src="https://avatars.akamai.steamstatic.com/a09590824ce6e05560677ab513ac8a9a52c311fd_full.jpg"
                    class="steamavatar_avatar_3h-QR avatar"
                    draggable="false"
                  />
                </div>
                <div class="miniprofile_playerContent_2-pwJ">
                  <div>
                    <div class="miniprofile_persona_3c5GO">
                      <div class="miniprofile_personaAndIcons_1p9kf">
                        <div class="miniprofile_personaName_qiP8a">
                          <div class="miniprofile_personaNameLabel_2VUw8">
                            LaserFlash
                          </div>
                        </div>
                      </div>
                      <div class="miniprofile_awayStatusLabel_1FgWI">
                        Online
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="miniprofile_miniProfileBottom_26ga2">
              <div class="miniprofile_miniProfileFeaturedContainer_1KDhd">
                <div class="miniprofile_favoriteBadgeIcon_qP4hs">
                  <img
                    src="https://community.akamai.steamstatic.com/public/images/badges/13_gamecollector/250_80.png?v=4"
                    class="miniprofile_badgeIcon_1oWOa"
                  />
                </div>
                <div class="miniprofile_featuredLabels_39har">
                  <div class="miniprofile_featuredTitle_2mCgt">
                    Game Mechanic
                  </div>
                  <div class="miniprofile_featuredSubTitle_3DelZ">743 XP</div>
                </div>
              </div>
              <div class="miniprofile_miniProfileFeaturedContainer_1KDhd">
                <div class="friendPlayerLevel lvl_40">
                  <span class="miniprofile_friendPlayerLevelNum_3vvwM">46</span>
                </div>
                <div class="miniprofile_featuredLabels_39har">
                  <div class="miniprofile_featuredTitle_2mCgt">Steam Level</div>
                </div>
              </div>
            </div>
            <div class="miniprofile_featuredTitle_2mCgt"><div></div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
