<div class="skinPreviewDisplay">
  <div class="imageContainer">
    <picture *ngFor="let item of previewImages">
      <source srcset="{{item.fileName}}.webp" type="image/webp" />
      <source srcset="{{item.fileName}}.png" type="image/png" />
      <img
        class="card-image"
        mat-card-image
        src="{{ item.fileName }}.png"
        alt="{{ item.alt }}"
      />
    </picture>
  </div>
  <div class="stacked">
    <div class="landingText">
      <h1>Steam Chat Skinning</h1>
      <p>Customisable skins for the steam chat user interface</p>
    </div>
  </div>
</div>

