:host {
  --top-padding: 0px;
  --full-height: calc(100vh - var(--top-padding));
}

.skinPreviewDisplay {
  margin-top: var(--top-padding);
  width: 100%;
  height: var(--full-height);
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.imageContainer {
  display: flex;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

/* Remove line spacing beneath image */
img {
  height: var(--full-height);
  vertical-align: bottom;
}

.stacked {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.7), rgba(0,0,0,0.9));
}

.landingText {
  width: 100%;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  text-align: center;
  color: white;
}
