.content {
  background-color: var(--color-secondary);
  text-align: left;
}

.download-button {
  border-color: var(--color-accent);
  border-width: 2px;
}


.download-action-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.download-action-bar h2 {
  margin-bottom: 0px;
}

.action-holder {
  display: flex;
  flex-direction: row;
  margin: auto 0;
}

.fill-remaining-space {
  flex-grow: 1;
}

.description-holder {
  display: flex;
  flex-direction: column;
}

.description-text {
  height: auto;
  padding-right: 8px;
}

.second {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.heading {
  display: flex;
  width: 40%;
  margin: auto 0;
}

.description {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 60%;
}

ul {
  list-style-position: outside;
}

.mat-divider{
  width: 100%;
}

@media only screen and (max-width: 960px) {
  .second {
    flex-direction: column;
  }

  .download-action-bar {
    flex-direction: column;
  }
  .action-holder {
    justify-content: center;
  }
}
