<div class="content">
  <mat-divider></mat-divider>

  <h2>Installing</h2>

  <div class="description-holder steam-beta">
    <h3 class="heading">
      <mat-icon
        style="padding-right: 8px"
        fontIcon="tips_and_updates"
      ></mat-icon>
      New Steam update
    </h3>
    <p>
      Steam has release a large update, changing how we enable skins. You must
      now:
    </p>
    <ul class="description">
      <li>Have the latest version of SFP</li>
      <li>Add skins to `Steam/steamui`</li>
    </ul>
  </div>

  <mat-divider></mat-divider>

  <div class="description-holder">
    <h3 class="heading">Windows / Linux / Mac OS</h3>
    <ul class="description">
      <li>
        Download: <code>friends.custom.css</code> from above customiser or other
        sources
      </li>
      <li>
        Move: <code>friends.custom.css</code> to
        <code>Steam/steamui/&lt;custom skin&gt;</code>
      </li>
      <li>
        In SFP make sure the "Steam Skin" setting matches the folder you placed
        <code>friends.custom.css</code> in
      </li>
      <li>
        <i
          >You can apply this with other skins, just drop
          <code>friends.custom.css</code> into the other skin's folder</i
        >
      </li>
    </ul>
  </div>
  <mat-divider></mat-divider>
</div>
