<div class="content">
  <h2>Installing</h2>
  <span class="download-action-bar">
    <span>
      <h2>Automatic Steam Chat Skin Installer</h2>
    </span>
    <span class="fill-remaining-space"></span>
    <div class="action-holder">
      <a href="https://github.com/LaserFlash/steam-chat-skin-installer">
        <button
          class="download-button"
          aria-label="installer source"
          mat-stroked-button
          color="accent"
        >
          <mat-icon>code</mat-icon>
        </button>
      </a>
      <span class="button-spacer"></span>
      <a
        href="https://github.com/LaserFlash/steam-chat-skin-installer/releases"
      >
        <button
          class="download-button"
          aria-label="download installer"
          mat-stroked-button
          color="accent"
        >
          <mat-icon>save_alt</mat-icon>
        </button>
      </a>
    </div>
  </span>

  <div class="description-holder description-text first">
      <strong>Installer only works on Windows</strong>
    <p>
      The installer can apply the skin and provides basic customisation without
      needing to know where the skin files are located. This installer will only
      need to be run once.
    </p>
    <p>
      <strong>
        Make sure to have <code>friends.custom.css</code> from the above
        customiser in the same location as the installer
      </strong>
    </p>
  </div>
  <mat-divider></mat-divider>
  <div class="description-holder second">
    <h3 class="heading">Manual - Windows</h3>
    <ul class="description">
      <li>
        Download: <code>friends.custom.css</code> from above customiser or other
        sources
      </li>
      <li>
        Move: <code>friends.custom.css</code> to <code>Steam/clientui</code>
      </li>
    </ul>
  </div>
  <mat-divider></mat-divider>
  <div class="description-holder second">
      <h3 class="heading">Manual - Linux & macOS</h3>
      <ul class="description">
        <li>
          Download: <code>webkit.css</code> from above customiser or other
          sources
        </li>
        <li>
          Move: <code>webkit.css</code> to <code>Steam/skins/"skinName"/resource</code>
        </li>
        <li>
          <i>You might want to combine webkit.css rather than replace to keep styles from your main client skin</i>
        </li>
      </ul>
    </div>
</div>
