<div class="content">
  <h2>Installing</h2>
  <span class="download-action-bar">
    <span>
      <h2>Automatic Steam Chat Skin Installer</h2>
    </span>
    <span class="fill-remaining-space"></span>
    <div class="action-holder">
      <a href="https://github.com/LaserFlash/steam-chat-skin-installer">
        <button class="download-button" mat-stroked-button color="accent">
          <mat-icon>code</mat-icon>
        </button>
      </a>
      <span class="button-spacer"></span>
      <a
        href="https://github.com/LaserFlash/steam-chat-skin-installer/releases"
      >
        <button class="download-button" mat-stroked-button color="accent">
          <mat-icon>save_alt</mat-icon>
        </button>
      </a>
    </div>
  </span>

  <div class="description-holder description-text first">
    <p>
      The installer can apply the skin and provides basic customisation without
      needing to know where the skin files are located. This installer will only
      need to be run once.
    </p>
    <p>
      <strong
        >Make sure to have <code>friends.custom.css</code> from the above
        customer in the same location as the installer</strong>
    </p>
  </div>
  <mat-divider></mat-divider>
  <div class="description-holder second">
    <h3 class="heading">Manual</h3>
    <ul class="description">
      <li>
        Download: <code>friends.custom.css</code> from above customiser or other
        sources
      </li>
      <li>
        Move: <code>friends.custom.css</code> to <code>Steam/clientui</code>
      </li>
    </ul>
  </div>
</div>
