.content {
  background-color: var(--color-secondary);
  text-align: left;
}

.heading {
  display: flex;
  width: 40%;
  margin: auto 0;
}

.description-holder {
  width: 100%;
}

.description {
  text-align: left;
  width: 60%;
}

ul {
  list-style-position: outside;
}

.gap-after {
  margin-bottom: 1em;
}

.mat-divider {
  width: 100%;
  margin: 1em 0;
}

.steam-beta {
  border: solid 2px #1a9fff;
  border-radius: 4px;
  padding: 4px;
  background-color: #1f2126;
}

@media only screen and (max-width: 900px) {
  .heading,
  .description {
    width: auto;
  }

  ul {
    margin-left: 1em;
  }
}
