<mat-toolbar class="sticky-toolbar">
  {{ title }}
  <span class="actions">
    <a mat-button href="#prerequisite">Preparation</a>
    <a mat-button href="#customisation">Customisation</a>
    <a mat-button href="#installation">Installation</a>
  </span>
</mat-toolbar>
<!--The content below is only a placeholder and can be replaced.-->
<app-skin-examples></app-skin-examples>
<app-skin-prerequisite id="prerequisite"></app-skin-prerequisite>
<app-skin-customisation id="customisation" class="red-background"></app-skin-customisation>
<app-skin-installation id="installation"></app-skin-installation>
<app-footer></app-footer>
