<mat-toolbar class="sticky-toolbar">
  {{ title }}
  <span class="actions">
    <a mat-button href="#prerequisite">Preparation</a>
    <a mat-button href="#customisation">Customisation</a>
    <a mat-button href="#installation">Installation</a>
  </span>
</mat-toolbar>

<!--Bellow is the vertical site feed. Some items have have deferred (later) loading -->
<app-skin-examples></app-skin-examples>
<app-skin-prerequisite id="prerequisite"></app-skin-prerequisite>

<div class="defer" (deferLoad)="showElementCustomisation = true"></div>
<app-skin-customisation
  *ngIf="showElementCustomisation"
  id="customisation"
></app-skin-customisation>

<div class="defer" (deferLoad)="showElementInstallation = true"></div>
<app-skin-installation
  *ngIf="showElementInstallation"
  id="installation"
></app-skin-installation>

<div class="defer" (deferLoad)="showElementFooter = true"></div>
<app-footer *ngIf="showElementFooter"></app-footer>
