<mat-toolbar class="sticky-toolbar">
  {{ title }}
  <span class="actions">
    <a mat-button href="#preparation">Preparation</a>
    <a mat-button href="#customisation">Customisation</a>
    <a mat-button href="#installation">Installation</a>
  </span>
</mat-toolbar>

<app-skin-examples></app-skin-examples>
<app-skin-preparation id="preparation"></app-skin-preparation>

<div id="customisation"></div>
<app-skin-customisation></app-skin-customisation>
<div id="installation"></div>
<app-skin-installation></app-skin-installation>
<app-footer></app-footer>
