.sticky-toolbar {
  position: fixed;
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 10; /* Ensure that your app's content doesn't overlap the toolbar */
  visibility: var(--visibility);
  background: var(--color-secondary);
}

.actions {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

@media only screen and (max-width: 959px) {
  .sticky-toolbar {
    flex-direction: column;
    height: auto;
  }
}
