<div class="currentUserContainer" [ngClass]="statusToClass(user.status)">
  <svg
    class="statusHeaderGlow"
    width="100%"
    height="132"
    xmlns="http://www.w3.org/2000/svg"
  >
    <defs>
      <radialGradient
        id="exampleGradient"
        cx="50%"
        cy="50%"
        r="50%"
        fx="35%"
        fy="30%"
      >
        <stop offset="10%" stop-color="gold"></stop>
        <stop offset="95%" stop-color="green"></stop>
      </radialGradient>
    </defs>
    <ellipse
      cx="5%"
      cy="28%"
      rx="65%"
      ry="60%"
      fill="url(#exampleGradient)"
    ></ellipse>
  </svg>
  <div class="AvatarAndUser">
    <div class="currentUserAvatar">
      <div
        class="steamavatar_avatarHolder_1qjsP avatarHolder no-drag Medium"
        [ngClass]="statusToClass(user.status)"
      >
        <div class="steamavatar_avatarStatus_1Co4T avatarStatus"></div>
        <img
          [src]="user.image"
          class="steamavatar_avatar_1LMc2 avatar"
          draggable="false"
        />
      </div>
    </div>
    <div
      class="labelHolder personanameandstatus_twoLine_GI-2M"
      [ngClass]="statusToClass(user.status)"
    >
      <div class="personanameandstatus_statusAndName_yTyUi">
        <div class="personanameandstatus_playerName_1ocG6">{{ user.name }}</div>
        <div class="ContextMenuButton">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="SVGIcon_Button SVGIcon_DownArrowContextMenu"
            data-name="Layer 1"
            viewBox="0 0 128 128"
            x="0px"
            y="0px"
          >
            <polygon
              points="50 59.49 13.21 22.89 4.74 31.39 50 76.41 95.26 31.39 86.79 22.89 50 59.49"
            ></polygon>
          </svg>
        </div>
      </div>
      <div class="personanameandstatus_richPresenceContainer_TIY16">
        <div
          class="
            personanameandstatus_gameName_1pRZ3
            personanameandstatus_richPresenceLabel_1whoN
            no-drag
          "
        >
          {{ statusToDisplayName(user.status) }}
        </div>
      </div>
    </div>
  </div>
</div>
