@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

/* Force use of open sans font but not on icons*/
* :not(.mat-icon) {
  font-family: "Open Sans", sans-serif !important;
}

body {
  margin: 0;
  background: var(--color-background);
  color: var(--default-text);
  justify-content: center;
  align-items: center;
}

.content {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

.no-link-style {
  color: initial;
  text-decoration: inherit;
}

.button-spacer {
  padding: 0;
  margin: 0;
  width: 0.5em;
}

@media only screen and (min-width: 600px) {
  .content {
    padding-left: calc((100vw - 900px) / 2);
    padding-right: calc((100vw - 900px) / 2);
  }
}
