@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url(https://steamcommunity-a.akamaihd.net/public/css/webui/friends.css);
@import url(https://laserflash.tk/steam-chat-skin/src/baseTheme.css);

/* Force use of open sans font but not on icons*/
* :not(.mat-icon):not(code) {
  font-family: "Open Sans", sans-serif !important;
}

body {
  margin: 0;
  background: var(--color-background);
  color: var(--default-text) !important;
  justify-content: center;
  align-items: center;
}

.content {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

.no-link-style {
  color: initial;
  text-decoration: inherit;
}

.button-spacer {
  padding: 0;
  margin: 0;
  width: 0.5em;
}

body::-webkit-scrollbar {
  width: 12px;
  height: 10px;
	background-color: var(--color-background);
}

body::-webkit-scrollbar-thumb {
  width: 14px;
  margin: 4px;
  min-height: 32px;
  min-width: 32px;
  border: none;
  border-radius: 8px;
  background-color: #424242;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #424242 !important;
}

body::-webkit-scrollbar-track {
	border-radius: 10px;
  background-color: transparent;
}