@use '~@angular/material' as mat;
@include mat.core();
$primary: mat.define-palette(mat.$green-palette);
$accent: mat.define-palette(mat.$green-palette, 800);
$warn: mat.define-palette(mat.$deep-orange-palette);

$theme: mat.define-dark-theme($primary, $accent, $warn);

@include mat.all-component-themes($theme);

:root {
  --color-primary: #{mat.get-color-from-palette($primary)};
  --color-accent: #{mat.get-color-from-palette($accent)};
  --color-warn: #{mat.get-color-from-palette($warn)};
  --color-background: rgb(21, 21, 21);
  --color-secondary: rgb(30, 30, 31);
  --default-text: rgb(255, 255, 255);
}
