.content {
  background-color: var(--color-secondary);
}

.download-button {
  border-color: var(--color-accent);
  border-width: 2px;
}

.download-action-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.action-holder {
  display: flex;
  flex-direction: row;
  margin: auto 0;
}

.fill-remaining-space {
  flex-grow: 1;
}

.description-holder {
  display: flex;
  flex-direction: column;
}
.description-text {
  height: auto;
  text-align: center;
  margin: auto;
  padding-right: 8px;
}
.description-image {
  display: flex;
  justify-content: center;
}
.description-image img {
  width: 80vw;
}

@media only screen and (min-width: 960px) {
  .description-holder {
    flex-direction: row;
  }

  .description-text {
    text-align: left;
  }

  .description-image img {
    width: 40vw;
    max-width: 600px;
  }
}

@media only screen and (max-width: 960px) {
  .download-action-bar {
    flex-direction: column;
  }
  .action-holder {
    justify-content: center;
  }
}
