<div class="content">
  <h2>Preparation</h2>
  <span class="download-action-bar">
    <span>
      <h2>SFP (Steam Friends Patcher)</h2>
    </span>
    <span class="fill-remaining-space"></span>
    <div class="action-holder">
      <a
        href="https://github.com/PhantomGamers/SFP"
        class="download-button"
        aria-label="steam friends patcher source"
        mat-stroked-button
        color="accent"
      >
        <mat-icon>code</mat-icon>
        Code Source
      </a>
      <span class="button-spacer"></span>
      <a
        href="https://github.com/PhantomGamers/SFP/releases"
        class="download-button"
        aria-label="download patcher"
        mat-stroked-button
        color="accent"
      >
        <mat-icon>save_alt</mat-icon>
        Download Latest Release
      </a>
    </div>
  </span>

  <div class="description-holder">
    <div class="description-text">
      <p>
        SFP is <strong>required</strong> to skin the Steam client, as Valve have
        not provided an official means to do so. SFP must be run in the
        background and will automatically apply themes / skins to the Steam
        client & friends list / chat.
      </p>
      <p>
        Download & extract the latest zip file for your OS and run the SFP_UI
        application.
      </p>
    </div>

    <picture class="description-image">
      <source srcset="assets/images/steamPatcher.webp" type="image/webp" />
      <source srcset="assets/images/steamPatcher.png" type="image/png" />
      <img
        src="assets/images/steamPatcher.png"
        style="border-radius: 6px"
        alt="Steam friends patcher screenshot, showing what the program looks like"
      />
    </picture>
  </div>
</div>
